<body>
<h2>
  Manage Users
</h2>

<ul class="list-group">
  <li class="list-group-item"><%= link_to "All users", all_user_path , method: "get" %></li>
  <li class="list-group-item"><%= link_to "Reservation history", all_user_path, method: "get" %></li>
  <li class="list-group-item"><%= link_to "Add user", new_user_path , method: "get" %></li>
  <li class="list-group-item"><%= link_to "Remove user", all_user_path , method: "get" %></li>

</ul>
</body>