<h1>Admins</h1>
<body>
<ul class="list-group">
   <% @all_admins.each do |each_user| %>
      <li class="list-group-item">
          <%= each_user.name %>&nbsp&nbsp&nbsp&nbsp
          <%= each_user.email %>&nbsp&nbsp&nbsp&nbsp
        <% if each_user.id != 1 && !match_session_id(each_user.id)%>
            <%= link_to "Remove as admin", remove_admin_url(:email => each_user.email) , method: "post", data: { confirm: 'Are you sure?' }%>
        <%end%>
      </li>
  <% end %>
</ul>
</body>



