<!--Boilerplate CSS code used from https://www.railstutorial.org/book-->

<footer class="footer">
  <small>
    Developed by Anubhab, Kate, Lei
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'https://drive.google.com/file/d/0B6myGbDBVWh3TmJObkQteWJsdE0/view?usp=sharing' %></li>
      <li><%= link_to "Contact", 'https://github.ncsu.edu/lzhang45/ECE517_project1' %></li>

    </ul>
  </nav>
</footer>